<div id="principale">
  <div id="enTete">
    <div id="BarreWidgets">
      <div class="WidgetTete" id="vuePanier">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span>
          <span *ngIf="panier.nbItems == 0">
            0
          </span>
          <span *ngIf="panier.nbItems != 0">
            panier.nbItems
          </span>
          <span *ngIf="panier.nbItems >= 1">
            articles
          </span>
          <span *ngIf="panier.nbItems == 0">
            article
          </span>
        </span>
        <a routerLink="panier" *ngIf="panier.nbItems == 0">
          Panier
        </a>
      </div>
      <div class="WidgetTete" id="terminer">
      </div>
    </div>
    <div id="logo">
      <a routerLink="home">
        <img [src]="logo" id="logo" alt="logo du site web">
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div id="pied">
    <br><br>
    <hr id="dividerPied">
    <p id="textePied" class="tresPetitTexte">&copy;&nbsp;2020 Chez-bioFood31.com</p>
  </div>
</div>
